# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log

# Environment variables
.env

# OS files (Windows + Mac)
Thumbs.db
desktop.ini
.DS_Store

# Editor
.vscode/
.idea/
